#songtickerli {
	text-align: center;
	z-index: 1020;
	font-family: sans-serif;
	font-size: 80%;
	color: gray;
	-moz-border-radius:6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border:1px solid #ddd;
	border-right: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
	width: 300px;
	height: 70px;
	background-color: white;
	padding-right: 100px;
	padding-top: 9px;
	position: relative;
}
#songtickerli .station-link {
	position: relative;
	height: 66px;
	left: 310px;
	top: -65px;
	width: 80px;
}
#songtickerli .station-link:hover {
	cursor: pointer;
}
#songtickerli .overlay {
	-moz-border-radius:6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #ddd;
	border-top: 1px solid #aaa;
	border-left: 1px solid #aaa;
	margin-left: 9px;
	height: 54px;
	padding-top: 6px;
	margin-bottom: 9px;
	background-color: rgba(255, 255, 255, 0.5);
}
#songtickerli .artist {
	text-transform: uppercase;
	font-weight: bold;
}
#songtickerli .title {
	padding-top: 6px;
}
#songtickerli .button {
	position: relative;
	cursor: pointer;
}
#songtickerli .button img {
	opacity:0.4;
	filter:alpha(opacity=40)
}
#songtickerli .love {
	left: -105px;
	top: -40px;
	display: none;
}
#songtickerli .info {
	left: -125px;
	top: -20px;
	display: none;
}
#songtickerli .history {
	left: -145px;
	top: 0;
	display:none;
}
#songtickerli .conf {
	left: -145px;
	top: 0;
	display: none;
}
#songtickerli .bleep {
	display: none;
	position: absolute;
	right: 105px;
	background-color: black;
	width: 6px;
	height: 6px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	opacity: 0.2;
	filter:alpha(opacity=20);
	top: 15px;
}
#simplemodal-container {
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #ddd;
	border-right: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
	background: white;
	padding: 6px;
	text-align: left;
	position: absolute;
	width: 80%;
	height: 80%;
	margin-left: 10%;
	margin-right: 10%;
}
#songtickerli .scroller {
	-moz-border-radius:0 0 6px 6px;
	-webkit-border-radius: 0 0 6px 6px;
	border-radius: 0 0 6px 6px;
	clear: both;
	position: absolute:
	border: 1px solid #aaa;
	border-top: none;
	display: none;
	background: rgba(200, 200, 255, 0.5);
	width: 385px;
	position: relative;
	top: -66px;
	z-index: 1010;
	border-left: 1px solid #ddd;
	border-right: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
	margin-left: 6px;
	margin-right: 4px;
	margin-top: 0;
	margin-bottom: 12px;
	padding-bottom: 3px;
	text-align: left;
}
#songtickerli .w2info {
	display:none;
}
#songtickerli .scroller ul {
	padding-top: 12px;
	margin-left: -20px;
	margin-top: 0;
}
#songtickerli .scroller ul li {
	display: inline;
}
#songtickerli .scroller ul li a img{
	border: 0;
}
#songtickerli .scroller-artist {
	display: none;
}
#songtickerli .scroller div {
	padding-top: 6px;
}
#songtickerli .scroller .scroller-div {
	margin: 6px 6px 6px 6px;
	padding: 3px;
	-moz-border-radius:6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border:1px solid #ddd;
	border-right: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
	background: white;
}
#songtickerli .scroller .scroller-div a {
	color: gray;
	text-decoration: none;
}
#songtickerli .history-navigation {
	display: none;
}
#songtickerli .history-data {
	margin: 6px 6px 6px 6px;
	padding: 3px;
	-moz-border-radius:6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border:1px solid #ddd;
	border-right: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
	margin-top: 6px;
	background: white;
}
#songtickerli .history-data:hover {
	cursor: pointer;
}
#songtickerli .history-info {
	display:none;
}
#songtickerli .facebook-btn {
	display: block;
	float: none;
}

#songtickerli .colorpicker {
	padding-left: 25%;
	padding-right: 25%;
}
#songtickerli .colorpickerbox {
	display: inline;
	padding: 10px;
	width: 36px;
	height: 36px;
	color: black;
}
#songtickerli .colorpickerbox:hover {
	cursor: pointer;
}

#songtickerli .colorpickerbox input {
	visibility: hidden;
}

.notification-area {
	position: absolute;
	bottom: 1.5em;
	width: 100%;
	margin: -8px -8px 0 -8px;
	z-index: 1030;
}
.notification-area p {
	font-family: sans-serif;
	font-size: 80%;
        -moz-border-radius: 6px;
        -webkit-border-radius: 6px;
        border-radius: 6px;
	border: 1px solid #ddd;
	border-right: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
	background: white;
	padding: 0.1em;
	margin: 0.5em;
}

#initial-help {
	position: relative;
	top: -105px;
	z-index: 3000;
	left: 190px;
	padding: 0;
	margin-left: -320px;
}
