#songtickerli {
	text-align: center;
	z-index: 1020;
	font-family: sans-serif;
	font-size: 80%;
	color: blue;
	-moz-border-radius:6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border:1px solid #ddd;
	border-right: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
	width: 300px;
	height: 70px;
	background-color: white;
	background-image: url(data:image/png;base64,png_token[[[logo_rabe_blau]]]) no-repeat 330px;
	padding-right: 100px;
	padding-top: 9px;
}
#songtickerli .overlay {
	-moz-border-radius:6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #ddd;
	border-top: 1px solid #aaa;
	border-left: 1px solid #aaa;
	margin-left: 9px;
	height: 54px;
	padding-top: 6px;
	background-color: rgba(200, 200, 255, 0.5);
}
#songtickerli .artist {
	text-transform: uppercase;
	font-weight: bold;
}
#songtickerli .title {
	padding-top: 6px;
}
#songtickerli .button {
	position: relative;
	cursor: pointer;
}
#songtickerli .love {
	left: -120px;
	top: -35px;
	display: none;
}
#songtickerli .info {
	left: -135px;
	top: -15px;
	display: none;
}
#songtickerli .history {
	left: -143px;
	top: 5px;
	display:none;
}
#songtickerli .conf {
	left: -140px;
	top: 5px;
	display: none;
}
#songtickerli .scroller {
	-moz-border-radius:0 0 6px 6px;
	-webkit-border-radius: 0 0 6px 6px;
	border-radius: 0 0 6px 6px;
	clear: both;
	position: absolute:
	border: 1px solid #aaa;
	border-top: none;
	display: none;
	background: rgba(200, 200, 255, 0.5);
	width: 385px;
	position: relative;
	z-index: 1010;
	border-left: 1px solid #ddd;
	border-right: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
	margin-left: 6px;
	margin-right: 4px;
	margin-top: 9px;
	margin-bottom: 12px;
	padding-bottom: 3px;
	text-align: left;
}
#songtickerli .w2info {
	display:none;
}
#songtickerli .scroller ul {
	padding-top: 12px;
	margin-left: -20px;
	margin-top: 0;
}
#songtickerli .scroller ul li {
	display: inline;
}
#songtickerli .scroller ul li a img{
	border: 0;
}
#songtickerli .scroller-artist {
	display: none;
}
#songtickerli .scroller div {
	padding-top: 6px;
}
#songtickerli .scroller .scroller-div {
	margin: 6px 6px 6px 6px;
	padding: 3px;
	-moz-border-radius:6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border:1px solid #ddd;
	border-right: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
	background: white;
}
#songtickerli .history-data {
	margin: 6px 6px 6px 6px;
	padding: 3px;
	-moz-border-radius:6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border:1px solid #ddd;
	border-right: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
	margin-top: 6px;
	background: white;
}
#songtickerli .history-data:hover {
	cursor: pointer;
}
#songtickerli .history-info {
	display:none;
}
#songtickerli .facebook-btn {
	display: block;
	float: none;
}
